[2016-01-19 21:42] HiImNatsu opened #1 "Graves AA crashing the game"
Graves addons bugsplat when ever i try to AA , i even tried to aa only with orbwalker ( no addon ) it still bug splat

[2016-01-19 21:44] Hellsing commented on #1
Will take care of that tomorrow, thanks for the report!

[2016-01-20 04:07] nnduyquang opened #2 "Obj_AI_Base.GetBuffCount("buffName") returns -1"
I use getbuffcount("nasusqstack") to get stack of nasus but it always return 0. Did something wrong about getbuffcount() or my mistake? P/s i try to fix code of karmapanda, sorry for my bad english

[2016-01-20 12:55] HiImNatsu commented on #1
love you senpai <3

[2016-01-20 16:43] Hellsing commented on #2
If that's the case then Finn has to check for any issues with specifically Nasus, thanks for the report anyways, even though it's not a SDK function your are reporting here.

[2016-01-20 17:09] Hellsing commented on #1
Just played a bot match with Graves, no bugsplats at all, Orbwalker works.

[2016-01-20 17:09] #1 closed, assigned to Hellsing

[2016-01-20 23:12] ghost opened #3 "Global communication between addons"
No way to communicate between assemblies (requiring Orbwalkers/Evades to share the same plugin)

Possible solution:
Global container in sdk? I dont know security well enough to know if moving assembly fields to the parent would be insecure :/

[2016-01-21 03:55] PierreAndreis opened #4 "Drawing.WorldToMinimap"
I think minimap drawings are broken

[2016-01-21 13:31] mrarticuno commented on #4
Are not broken, just not implemented :)

[2016-01-21 14:20] coman3 commented on #4
i have used them before though (Patch 5.24)? I think its just the WorldToMinimap thats not working...

[2016-01-21 14:25] coman3 commented on #3
There is a library solution (make a library and a main addon, that way other addons can communicate with said library which is then transferred to the main addon), i have been working on it with AdEvade.

_There isnt really much else you can do, while still making sure that addons are separated._

[2016-01-21 14:42] Sivuu opened #5 "Orbwalk is not working correct for Azir's Solider"
When I use orbwalk for Azir's solider , the lasthitable creep is not correct to attack so too many missing attack on creep.
I have some solution for this like add Orbwalk function to attack normal.Because Orbwalk.ForcedTarget just focus on target but not attack it

[2016-01-21 15:53] Hellsing commented on #4
That is a known Core bug and is being fixed by Finn, thanks for the report anyways!

[2016-01-21 15:54] Hellsing commented on #5
I will take a look at the Azir handling soon as it has been changed by someone else so I don't know what could be wrong with it yet, thanks for the report!

[2016-01-21 15:55] Hellsing commented on #3
We could add some kind of Globals class into the SDK where you can set, for example, Dictionary entries globally. Thanks for the suggestion, will keep this updated if anything changes!

[2016-01-21 15:58] KoalaHuman commented on #3
What about custom events?
For example when Evade addon wants to evade it emits "OnEvade" event, and other addons can just subscribe to it.

[2016-01-21 21:29] pipe01 commented on #4
Meanwhile I think I'm gonna make my own method.

[2016-01-22 05:13] swordkillz opened #6 "Loading Screen freezing at 100%"
While I have the script injected as I start the game, the match loading screen shows everything normal except for the fact that the champion loading for my character remains 0% for 5 minutes. I had to relog without the Elobuddy Injection in order for the percentage to become 100%. As I am in the game, I have to manually change the inject settings to inject which requires a minute or two to load up

[2016-01-22 05:23] Hellsing commented on #6
Do you have any toaster loading addon installed?

[2016-01-22 07:40] swordkillz commented on #6
No. The only applications open are Elobuddy and League of Legends client open.

[2016-01-22 08:10] Hellsing commented on #6
Can you reproduce the error when you have no addons installed, like a fresh EloBuddy installation? Also, which region and version are you on?

[2016-01-22 08:46] swordkillz commented on #6
Never mind, issue fixed with clean install. Thanks for consideration.

[2016-01-22 14:35] devin9086 opened #7 "League Version for SG/GARENA"
Recently as of 22 JAN 2016, Garena has released a Version 6.1 Hot-fix, From 6.1 -> 6.1.0.499

[2016-01-22 15:27] Hellsing commented on #7
Thank you for the report, Finn is taking care of it now!

[2016-01-22 15:27] #6 closed, assigned to nobody

[2016-01-22 20:04] finndev commented on #7
updated: https://github.com/EloBuddy/EloBuddy.Dependencies/commit/59063885a3a67b8565835e3171e4a1f905ad286d

[2016-01-22 20:04] #7 closed, assigned to finndev

[2016-01-22 23:45] coman3 commented on #3
Thats a damn fine idea Koala :smile:

[2016-01-23 16:46] Requital opened #8 "FPS Drop"
I have fps drops, its not an addon problem 'cause i have them on every script so

[2016-01-23 16:47] Hellsing commented on #8
Could you be more precise with that statement please? Because that does not help us at all trying to help you.

[2016-01-23 16:49] Requital commented on #8
Well i dont know how to precise it. Maybe that way: usually i have like 200-300 fps but when i run any script for ex. your kalista, my fps are like this: 80>60>40

[2016-01-23 16:49] Requital commented on #8
sry 4 bed england

[2016-01-23 16:51] Hellsing commented on #8
What I meant is when it occurs, for example just in fights, while farming, or even in base when standing still and pressing nothing.

[2016-01-23 16:52] Requital commented on #8
anytime

[2016-01-23 16:52] Requital commented on #8
pressing F5 is not solving it so

[2016-01-23 16:53] Hellsing commented on #8
Can you try to inject just EloBuddy without any addons being enabled and give feedback if that is any better or not?

[2016-01-23 16:54] Requital commented on #8
sure ill end my game and ill post results

[2016-01-23 17:33] Requital commented on #8
injected only elobuddy and still drops

[2016-01-23 17:57] Hellsing commented on #8
Then you should try reinstalling EloBuddy completely, there are enough forum threads which show you how to approach this. Right now EloBuddy itself only drops me from 200 fps to 190, which is totally acceptable.

[2016-01-23 18:14] Requital commented on #8
Ok thanks :)

[2016-01-23 21:19] ghost commented on #3
I really like the idea of being able to subscribe to custom events, but that isn't very proper for an if(isSet(Global.Evading)) situation, useful for Awareness plugins for champion assemblies though.
(Example: Awareness watches enemy walk into bush and sets off the event "onEnterBush with target and position info"

[2016-01-24 05:28] coman3 opened #9 "ScreenToWorld Gives Wrong Value"
ScreenToWorld is (from what i can see) not taking zoom into account. In the below image, the center of the crosshair is the screen position, and the end of the red line, is the crosshairs "ScreenToWorld" value. (Note: the start of the red line is Player.Instance.Position)
![image](https://cloud.githubusercontent.com/assets/1707575/12534631/604319aa-c2b7-11e5-9a03-02d1ce9526ca.png)

the code for th

[2016-01-24 05:55] PierreAndreis opened #10 "LastHit mode attacking full life minions"
Last hit its not freezing the lane and only last hitting. It is hitting the minions with full hp

[2016-01-24 13:09] Hellsing commented on #9
This is a known issue for quite some time now, I've assigned @finndev to this issue as it's a core bug. Thanks for reporting this.

[2016-01-24 13:10] Hellsing commented on #8
As you didn't report back I assume the issue has been resolved, thanks for reporting this anyways.

[2016-01-24 13:10] #8 closed, assigned to nobody

[2016-01-24 13:12] Hellsing commented on #10
I've tested it and can only tell you that it's properly last hitting only, not attacking any minion which could not be killed with just one auto attack. Please check if it's a addon which is forcing any other orbwalker mode or check your key bindings again for the orbwalker.

[2016-01-24 13:12] #10 closed, assigned to nobody

[2016-01-25 11:25] MarioGK opened #11 "EntityManager.MinionsAndMonsters.CircularFarmPosition broken"

[2016-01-25 12:08] MarioGK opened #12 "Spell.Skillshot.AllowedCollsionCount broken"
I`m using this :
            Q = new Spell.Skillshot(SpellSlot.Q, 1175, SkillShotType.Linear, 250, 1200, 80)
            {
                AllowedCollisionCount = 2, MinimumHitChance = HitChance.High
            };
but it`s casting when it will hit 3-4 minions between the player and target

[2016-01-25 13:11] bebetoalves opened #13 "Orbwalker sometimes ignoring killable minions with low life"
Tested with several champions specifically with the Lux and the Last Hit it leaves the minion with one of life and not kill, simply ignores. This also happens with other champions, ignore the minion with one of life and focus on the other that neither gave to kill.

[2016-01-25 17:37] ghost opened #14 "SDK.Menu.Values.KeyBind not respecting XInput"
SDK.Menu.Values.KeyBind doesn't listen for xinput when its included.

[2016-01-25 17:58] Hellsing commented on #14
Yes that is true because I never thought about including that aswell

[2016-01-25 17:59] Hellsing commented on #14
I could however add support for controllers, so I will keep this open for now

[2016-01-25 17:59] Hellsing commented on #13
This will be fixed in future versions of the Orbwalker, thanks for reporting anyways!

[2016-01-25 18:02] Hellsing commented on #12
Thanks for reporting, assigning @stefsot with this case.

[2016-01-25 18:03] Hellsing commented on #11
Could you please provide more info such as a code snippet on which it fails? Thanks.

[2016-01-25 18:10] Hellsing opened #15 "SDK.Menu.Values missing ComboBox"
The current menu is missing a ComboBox for easier handling of multiple choices, right now we have to use a slider and some workarounds for this.

Assigning myself with this.

[2016-01-25 18:31] JodyJazz opened #16 "Click limiter at core doesn't change sometimes unless you change it."
I normally play with 4 click but it always starts the game with 20-25 even it shows 4. I change it to 5 and to 4 again, then I can see the difference and it becomes 4. I don't know if this is a bug or something about me.

[2016-01-25 18:34] ghost commented on #5
When playing WuAzir I noticed repeated forced movements towards nexus turrets (probably attack commands) and even right clicking (and flee) failed to release the champions movement back to me. WujuSan claims this is orbwalker related, so Im leaving this here as a heads up, as it may have to do with this issue too.

[2016-01-25 18:50] Hellsing opened #17 "BuffInstance.Caster is always the local player"
Checking every buff in the game, the .Caster property always returns the local Player.Instance object.

[2016-01-25 18:51] Hellsing commented on #5
It might be that the Soldiers try to attack the turrets which is not possible, I will look into this soon

[2016-01-25 18:52] Hellsing commented on #16
"Core" does not include a click limiter, could you explain what you are using to limit the clicks?

[2016-01-25 19:02] Hellsing commented on #2
I have just verified this and it seems like it's only GetBuffCount which is broken as my tool still shows the correct buff amount and names:

![alt tag](http://puu.sh/mJl4S/f8922c39b5.png)

[2016-01-25 19:05] Hellsing opened #18 "Drawing.OnDraw draws over object models"
Currently everything which is drawn in Drawing.OnDraw is being drawn on top of the ingame models. My suggestion is to change that to draw behind models so we can have circles and other images behind the player for example.

This is only a visual enhancement requests, has no priority at all.

[2016-01-25 19:46] JodyJazz commented on #16
'ticks per second' at the core menu

[2016-01-25 19:48] Hellsing commented on #16
That is not a click limiter, ticks per second means how often the game event Game.OnTick should be called per second. By default it's set to 25 ticks per second, which means in one second the event is being triggered 25 times. This has nothing to do with click limiting.

You may look for Orbwalker -> Delay between movements in milliseconds

[2016-01-25 19:48] #16 closed, assigned to nobody

[2016-01-25 19:56] stefsot commented on #12
seems to work as expected ![alt tag](http://i.imgur.com/0K2OBSJ.jpg)

[2016-01-25 23:27] PierreAndreis commented on #10
sorry, i had jungle clear with lasthit. Its working properly now

[2016-01-25 23:32] Hellsing commented on #10
Glad to hear you have fixed it

[2016-01-26 15:12] devin9086 opened #19 "Auto Print Messages in chat."
Elobuddy prints the loaded scripts into chat, broadcasting it to players in the game.

[2016-01-26 15:17] #19 closed, assigned to nobody

[2016-01-27 04:47] KarmaPanda opened #20 "Chat.OnMessage does not trigger"
Chat.OnMessage event does not trigger.

[2016-01-27 04:52] MarioGK commented on #12
Using this code http://puu.sh/mLcEM/5d4c0041a4.png

Videos : http://puu.sh/mLcEH/4c8f742e4a.mp4 or https://youtu.be/5DL97_XE36g

Just Go to the ~0:50 secs

[2016-01-27 05:02] MarioGK commented on #11
Using this code : http://puu.sh/mLdiS/e6cbfc94ad.png

Video: http://puu.sh/mLdsm/dd599e1fb1.mp4 or https://youtu.be/pCRWnczo85c

[2016-01-27 06:30] Sivuu commented on #5
I think the problems happened here is the damage calculated is wrong (need to correct it for Azir's W skill or add some function that permit developer can command normal attack without Orbwalk )

[2016-01-27 09:47] coman3 commented on #15
also buttons are missing, would be nice to "Reset" thing etc. (without a work arround)

[2016-01-27 13:55] stefsot commented on #12
oh yes, you should put AllowedCollisionCount to 1 not 2
AllowedCollisionCount means how many targets it can hit excluding the target (the target is not considered collision)

[2016-01-27 14:02] MarioGK commented on #12
Well, i changed the code and it still wrong :(
Code : http://puu.sh/mLz8p/95f6517913.png
Video: http://puu.sh/mLyTm/7255dfd1f2.mp4

[2016-01-27 15:06] stefsot commented on #12
that's odd, are you sure you are using that code??

[2016-01-27 17:03] MarioGK commented on #12
Yeah pressed F8 like 2 times before recording

[2016-01-27 17:03] Hellsing commented on #20
Thanks for the report, assigned @finndev with this issue.

[2016-01-27 17:04] Hellsing commented on #15
The reset button was a planned feature aswell, so every page would have a reset button by default, but that would be a new issue/suggestion :P

[2016-01-27 18:22] plsfixrito opened #21 "Orbwalker"
The current orbwalker is kinda slow in my opinion.

so i think that it can be improved by including ping with the attack timer.

like for example attack delay - mycurrent.ping

so it would be like the old attack earlier X ms but it should be the ping that is used, that will improve the orbwalker attacking speed in my opinion.

i tried using the include ping into calculations but the thing is it on

[2016-01-27 20:55] KoalaHuman commented on #21
@plsfixrito it's already included in calculations, check orbwalker settings -> Attack earlier

[2016-01-27 21:44] ghost commented on #21
@KoalaHuman

He said:

@plsfixrito
The reason you cannot use your full attack speed is because the entire elobuddy loader responds per tick and the built in humanizer just returns on **SOME** of the ticks (making you do nothing during those ticks). You cannot disable the built in humanizer as its forced on to prevent getting banned.

(Prevents 1000 calls per second with 0 orb delay.)

This is inte

[2016-01-27 22:05] finndev commented on #20
fixed in the patch 6.2 binaries

[2016-01-27 22:05] #20 closed, assigned to finndev

[2016-01-27 22:11] finndev commented on #4
fixed in the patch 6.2 binaries

[2016-01-27 22:11] #4 closed, assigned to finndev

[2016-01-27 22:15] finndev commented on #2
fixed in the patch 6.2 binaries

[2016-01-27 22:15] #2 closed, assigned to finndev

[2016-01-28 11:19] deniz5316 opened #22 "Orbwalk stuttering/not attacking with jinx (only tried ashe and jinx)"
One GIF is showing more than 1000 words :tada:

I only tried ashe and jinx so far and it only happened to jinx with every single Jinx addon, ashe is working

[2016-01-28 13:43] pipe01 commented on #4
Thank you very much! You are an awesome dev.

[2016-01-28 17:01] KoalaHuman commented on #21
@Alweul I edited right after.

Attack earlier - is exactly what he needs.

[2016-01-28 17:57] ghost commented on #22
https://www.elobuddy.net/topic/13590-orbwalker-problem-careful-2812016/

Confirmed?

[2016-01-28 18:53] HiImNatsu commented on #22
same here

[2016-01-28 19:51] Hellsing commented on #22
I am investigating in this now, thanks for the report.

[2016-01-28 19:52] Hellsing commented on #22
Also removed the gif from the issue because it contained your summoner name

[2016-01-28 20:27] deniz5316 commented on #22
https://www.elobuddy.net/topic/13480-ticks-per-second/?p=112551

could you remove the gif from there too?

[2016-01-28 20:30] #22 closed, assigned to Hellsing

[2016-01-28 20:36] plsfixrito commented on #21
@KoalaHuman it's not in the orbwalker anymore, there is only include ping into calculations which is not changing much for me.

[2016-01-28 20:38] finndev commented on #17
fixed with the patch 6.2 binaries

[2016-01-28 20:38] #17 closed, assigned to finndev

[2016-01-28 20:45] finndev opened #23 "Add OnAggro Event"
requested by DMT

[2016-01-28 20:47] Hellsing commented on #21
Well iCreative must have removed the option then, whyevery, cuz it was just a feature for those who wanted to play around with that value, I might consider readding it, but not right now, sorry, closing this issue.

[2016-01-28 20:47] #21 closed, assigned to Hellsing

[2016-01-28 22:40] finndev opened #24 "Installer throws exception on every language but English"
**Reproduce:**
1. Download EloBuddy Installer
2. Select any language but English
3. Continue until .NET installation

[code]

**Other users having the issue:**

https://encrypted.google.com/search?hl=en&q=ExtractTemporaryFile:%20The%20File%20%22%22%20was%20not%20found.%20site:elobuddy.net

[2016-01-29 11:32] Wiezerzz opened #25 "Drawing.OnDrawingHealthbars appears to not be working"
/title

AIHeroClient.HPBarPosition also seems to be a bit wrong sometimes(difference between ally/enemy and certain champions)

[2016-01-29 16:19] newchild opened #26 "Player.UseObject freezes League"
http://puu.sh/mOdS8/33d1031fe6.png
Reaches until Pre ThreshLantern, then freezes LoL

[2016-01-29 20:26] plsfixrito opened #27 "Separate menu config files for addons"
Instead of having all addons configs saved on one file that is
appdata elobuddy/MenuSaveData/SerializedMenu.ebm

to have every addon it's own save menu so we can reset the addons we want easily.

like for ex
MenuSaveData/Jinx.ebm
MenuSaveData/Evade.ebm
etc...

[2016-01-30 21:37] Sitibi opened #28 "Addons still giving error upon installing attempt."
Hi, I'm new. When installing any add-on manually via a link githab or by clicking "install" I have an error. Read forum, nothing helps. What's wrong?
 Logs
 [31.01.2016 0:04:43]
 Installing addon: "https://github.com/s...ddons EvadePlus".
 [31.01.2016 0:04:43]
 Updating addon: "EvadePlus" with url: "https://github.com/s.../elobuddyaddons" and project name: "EvadePlus.csproj"
 [31.01.2016 0:04:43]

[2016-01-30 21:39] Hellsing commented on #28
As it's a compile error for EvadePlus I've assigned @stefsot with this issue, thanks for reporting, even though it's not really a bug as it's working for everyone else just fine.

[2016-01-30 21:43] Sitibi commented on #28
I have this error on all addons, just logs brought only this addon.

[2016-01-30 21:46] Sitibi commented on #28
I think the case in the framework 4.5, which I can not install on windows 10.

[2016-01-30 21:47] Sitibi commented on #28
[31.01.2016 0:23:22] <Info>
 Finished updating addon: "EloBuddyAddons", result: CompilingError (url: "", project: "EloBuddyAddons.git", directory "")
[31.01.2016 0:23:22] <Error>
 Failed to install addon: "https://github.com/stefsot/EloBuddyAddons.git". Addon state: "CompilingError". The addon either did not update or did not compile!
[31.01.2016 0:25:18] <Info>
 Installing addon: "D:\eloads\EloBu

[2016-01-30 21:49] stefsot commented on #28
reinstall elobuddy

[2016-01-30 21:50] Sitibi commented on #28
Didn't help

[2016-01-30 21:50] Sitibi commented on #28
I tried to do everything that is written on the forum.

[2016-01-30 21:52] Sitibi commented on #28
Also, I noticed that many people have this  problem, but there is no answer.

[2016-01-30 22:08] Sitibi commented on #28
And I would like apologize for my english.

[2016-01-31 05:22] ghost opened #29 "WndProc messages not blockable"
There is no scroll bar on menu overflow for those with no scroll wheel and scrolling in menu changes games camera height.

[2016-01-31 05:35] Sitibi commented on #28
![ellob bug](https://cloud.githubusercontent.com/assets/15304087/12700479/8f7a4b06-c7f5-11e5-9304-f66a572cf085.png)

[2016-01-31 05:36] Sitibi commented on #28
No one can help me?

[2016-01-31 07:47] Sitibi commented on #28
I deleted all the framework and installed 4.5, did not help. I do not know what else to do!

[2016-01-31 10:25] Hellsing commented on #28
Since nothing has helped so far I think you should give it a try to install the following package which includes all known runtimes:

http://www.computerbase.de/downloads/systemtools/all-in-one-runtimes/

Please install it completely and reboot your computer afterwards. Once that is done, go to your %AppData% folder and find the folder named "EloBuddy" and delete it. And once that's done reinstall

[2016-01-31 10:25] #28 closed, assigned to stefsot

[2016-01-31 10:27] Hellsing commented on #29
There is a scrollbar, it has just been added yesterday, so please update your EloBuddy to see it. Once you've done that, please move your mouse to the right side of the content container and you should see a scrollbar appearing.

According the camera height changes, this issue is already known and will be fixed soon by @finndev, but thanks for reporting anyways!

[2016-01-31 15:17] Hellsing opened #30 "NavMesh.GetCell() returning coords with slight offset"
Using my Dev-a-lot tool I can visualize the game grid, this clearly shows that the NavMesh cells are off by 1 or 2 units, this is also a reason why some Vayne Addons are failing the Condemn.

Video with proof: http://puu.sh/mQBYb/73694247fc.mp4

[2016-01-31 23:31] ghost opened #31 "Player.Instance.AutoAttackTargettingFlags"
Not sure how this is supposed to behave:

**Code**:
`if (Player.Instance.AutoAttackTargettingFlags != 0)
    Logger.Debug(Player.Instance.AutoAttackTargettingFlags.ToString());`

**Result**:
No output. (Flags are always 0)

**Expected Result:**
Output during an auto attack.

[2016-02-01 02:53] iRaxe opened #32 "Shop.OnBuyItem && Menu scrolling"
Shop.OnBuyItem when triggers to update menu will bug.
- Example on Activator page of OKTR AIO

[2016-02-01 16:09] Hellsing commented on #32
I expected a more detailed report from you but okay.

Please add code snippets on how you can reproduce the bug and what the bug actually is, like where does the menu bug?

Thanks for the report anyways.

[2016-02-01 16:10] Hellsing commented on #31
I'll let @finndev review this issue, thanks for the report!

[2016-02-01 18:16] finndev commented on #31
fixed in the upcoming 6.3 binaries

[2016-02-01 18:16] #31 closed, assigned to finndev

[2016-02-01 20:21] finndev commented on #9
fixed in the patch 6.3 binaries, thank you for reporting

[2016-02-01 20:21] #9 closed, assigned to finndev

[2016-02-01 20:22] coman3 commented on #32
What happens is when you add controls to the menu, after `OnLoadingComplete`, such as `OnBuyItem`, the menus height bugs out and you can't scroll down below the new controls.

[2016-02-01 20:47] finndev commented on #30
fixed in patch 6.3 binaries

[2016-02-01 20:47] #30 closed, assigned to finndev

[2016-02-01 21:40] finndev commented on #26
fixed in the patch 6.3 binaries, ty for reporting friend! :+1:

[2016-02-01 21:40] #26 closed, assigned to finndev

[2016-02-02 10:36] coman3 opened #33 "[Suggestion] Loader Addon Manifest File"
So one thing i have noticed, even with L$ if you install an addon that requires a library, and dont have the library installed, you will just receive a Compiling Error  with no notification of missing libraries etc.

So the idea was to implement some kind of "manifest" file that states what libraries are needed, a friendly name for that addon (such as `^^B!g Fancy N@me^^`) and the last tested vers

[2016-02-02 10:41] KoalaHuman commented on #33
It would be nice to have supported champions and/or addon type included as well, which later on can be used to sort/filter addons in the loader.
Maybe tags also would be a cool thing, add fuzy search through all of these and you will create the best experience.

[2016-02-03 13:20] Sitibi opened #34 "Kalista - Bound for Eternity [Kalista]"
1. Stacks E does not appear on  HP bar.
   1. Check  calculation of E, it is false.

[2016-02-03 13:26] Hellsing commented on #34
This is not an EloBuddy issue, please report it to the authors own GitHub repo.

[2016-02-03 13:26] #34 closed, assigned to nobody

[2016-02-03 13:29] Sitibi commented on #34
But no one checks bugs that I write to the forum. Nobody cares.

[2016-02-03 13:30] Hellsing commented on #34
Just open the addon's GitHub repo, there you can find an issue tracker similar to this one here and you can report it there

[2016-02-03 14:08] MarioGK opened #35 "[Bug]Health Bar Y offset is broken"
You can use anything that has something that draws on the health bar to see it, i think it is pretty simple so i wont give any snippets, and X offset seems to be fine

[2016-02-03 14:09] #12 closed, assigned to stefsot

[2016-02-03 14:30] #27 closed, assigned to Hellsing

[2016-02-03 14:30] Hellsing commented on #27
Implemented

[2016-02-03 15:18] finndev commented on #35
Invalid.

HPBarYOffset returns the proper offset, however sometimes from patch to patch you might need to move the Y offset by a small value. Not much I can do about it.

Tracker by Fluxy looks fine to me as well.

[2016-02-03 15:18] #35 closed, assigned to nobody

[2016-02-03 15:22] finndev commented on #25
I have removed the event for now (6.2-HF). The event was a part of a beta build that shouldn't have went live.

[2016-02-03 15:22] #25 closed, assigned to finndev

[2016-02-03 15:32] DMT-EB opened #36 "Exception when Compiling in Dev Mode"
Compiling an addon ONLY in dev mode would throw an exception:

[code]

[2016-02-03 17:18] stefsot commented on #36
unload the addons from the game (F6) before attempting to recompile them

[2016-02-03 19:54] ghost commented on #33
@coman3 , assemblies have no way to even communicate with each other, let alone be a dependency. If a plugin is failing to compile because you don't have the standard redistributables installed then it is your fault for not meeting the minimum requirements of elobuddy.

They have many more important things to be paying attention to than does one plugin and one user have this one dependency they sh

[2016-02-03 20:03] ghost opened #37 "GitHub Management"
Startup fatals and main configuration corruption updates are being pushed to the live server.

This is extremely unprofessional and shows huge signs of incorrect usage of version control.

I suggest making a new Production github, and doing nothing but pull requests EVEN AS THE OWNER, and requiring that the build:
1. Passes
2. Does not fatal under typical operation.
3. Is capable of injecting into

[2016-02-03 20:10] ghost opened #38 "Excessive Caching and Net usage"
%appdata%\EloBuddy\Repositories

And it reconnects to github EVERYTIME to check for new updates, so whats the point of having the entire repo cached, when Im pretty sure the entire repo is redownloaded (Including all their other plugins by that author) every time you install one.

Needs optimization badly.

Edit:
It even includes the .git so all previous versions are cached as well? GDI guys your

[2016-02-03 21:39] KoalaHuman commented on #38
What if github is down?

[2016-02-03 22:14] ghost commented on #38
As previously experienced, github being down breaks EB completely, and is an entire different issue.

[2016-02-04 07:29] KoalaHuman commented on #38
Shouldn't cache be used whenever github is down?

[2016-02-04 07:43] ghost commented on #38
1) I dont think its even used at all, hence why its an issue,
and
2) Caching isn't storing a backup, its keeping relevant files at hand. The .git structure files, and all addons from each author you downloaded one addon from is not "relevant", its excessive.

[2016-02-04 12:35] alecsucks3 opened #39 "EB not installing add-ons"
Hi!, ive tried deleteing everything, restarting computer, reinstalling and i cant seem to get EB to install scripts! i know a large amount of people from the community having the same problem if you check the support section on the main forum. any possible fixes?

[2016-02-04 14:16] Griamos opened #40 "EloBuddy.Loader Unhandled Exception"
Help! Everytime i try to install a new addon: [Error](http://i.imgur.com/6P6SNPd.png)

[2016-02-04 20:24] plsfixrito opened #41 "Game freeze after disconnecting from game"
When you disconnect in game then get reconnected, the game freezes and you have to close the game in order to continue the game when EB is injected.

[2016-02-05 14:16] Hellsing commented on #41
So you mean when you get disconnected due to connection problems and get reconnected without restarting the game EloBuddy crashes?

[2016-02-05 19:38] plsfixrito commented on #41
Yes,
When my internet disconnects while im in the game and EB is injected the game freezes/crashes .

[2016-02-05 21:23] plsfixrito commented on #41
update i got this in console
http://puu.sh/mX9K9/bcc8a8c2d2.png

[2016-02-05 21:57] ghost commented on #40
WCF Pipe conflict.

@beadwarf Close any program or service that did not come with your computer (and the junkware that came with it) and make sure elobuddy is only open once.

Because: "You can only ever have one WCF service application at a time running which uses a particular base address for its NetNamedPipe endpoints. If you try to start a second one, it fails with AddressAlreadyInUseException

[2016-02-05 21:59] ghost commented on #39
Duplicate of #40 (40 has better details)

[2016-02-06 02:48] ibonzanino opened #42 "Fix LastHit With Kassadin"
Fix the lasthits with kassadin... ty

[2016-02-06 07:11] #42 closed, assigned to nobody

[2016-02-07 08:52] dragitz opened #43 "'HeroManager' Does not exist"
Did you change the code ?

Btw here's my logs:

Full log: http://pastebin.com/raw/ENV32Xp1

The logs are in italian, but the only problem is that HeroManager does not exist

[2016-02-07 09:01] coman3 commented on #43
Yes it was removed just recently

[2016-02-07 09:04] dragitz commented on #43
May I ask:
Is there any way I can replace it with something else?

This is the only string that got affected by this

[2016-02-07 09:05] coman3 commented on #43
EntityManager.Heroes.Enemies

[2016-02-07 09:06] dragitz commented on #43
Oh man, thank you !

[2016-02-07 09:07] coman3 commented on #43
No worries, probably should close this thread now though :)

[2016-02-07 09:07] #43 closed, assigned to nobody

[2016-02-09 16:07] coman3 commented on #38
Personally i agree the loader could do with some performance improvements, but please note that EloBuddy is still in development and has higher priorities such as lasthitting, damage library etc. that will also make the user experience much more enjoyable :smile:

I will leave this issue open though, so in the future we can access this problem, Thank you.

[2016-02-09 22:52] ghost commented on #38
I really think the time the system takes to cache everything each time you install a mod could save a lot of users in aram of having to reload after game starts because they couldnt finish downloading their champion repo (of under 5 mb with a 100 mbps connection) within the 60 seconds it takes to get in game.

I find it a major user experience issue and not a low priority, but thats my opinion.

E

[2016-02-10 04:05] jachicao opened #44 "Obj_AI_Base.CanAttack broken [6.3]"
Orbwalker doesn't work because of that.

[2016-02-10 06:26] Kolmia commented on #44
Fix fix fix fix pls

[2016-02-10 07:58] finndev commented on #44
fixed, thanks for reporting and testing

[2016-02-10 07:58] #44 closed, assigned to nobody

[2016-02-10 13:58] skullygr commented on #41
I approve. This happens to me everytime my internet lags out and then comes back WHILE in-game

[2016-02-10 17:25] 2str opened #45 "Second 6.3 update won't autoload addons (first 6.3 yes)"
Now (2nd 6.3 release inc core.dll) **just autoloads MASTERMIND** [I got several utility addons and one for ashe], need to F5 again. 1h ago was fine (with 1st 6.3). Disabling MaterMind doesn't fix anything.

[2016-02-10 18:08] ghost opened #46 "Prediction Hitrate Issues"
Obviously this can be put on the back burner but:

The prediction hit rate should never show 100% unless the target will be unable to move throughout the entirety of my cast. (I understand you cant take into account QSS like moves)

[I get 100% even with the hitchance reduction slider as low as possible, which may be another bug]

Just wondering if there is a check in place to see if a target will

[2016-02-10 21:03] hartturmch opened #47 "Orbwalker sometime stop working"
Dont know if it's just me, but...
When i'm in combo, for example, randomly my champ stop walking than i have to press combo key again or walk with mouse button.
It's like a delay or something...

[2016-02-10 21:37] 2str commented on #45
Disabling MasterMind doesn't fix anything.

[2016-02-11 11:20] #45 closed, assigned to nobody

[2016-02-11 12:52] Maxhyt opened #48 "EloBuddy watermark is unable to be hidden"
Though EloBuddy.Hacks.RenderWatermark = false, the watermark still remains. Not good for streaming :(

[2016-02-12 02:06] coman3 opened #49 "Drawing.DrawText size ignored"
Pretty simple error, the `size` parameter of `Drawing.DrawText(Vector2 pos, Color color, String text, float size);` is ignored..

[2016-02-12 13:06] commonsharp opened #50 "EloBuddy.SDK.Rendering.Circle Out of Memory probleam"
pls check this topic
https://www.elobuddy.net/topic/15473-is-it-possible-overuse-new-bring-memory-problem/#entry126538

[2016-02-12 21:52] jachicao commented on #47
You should tell the champion used

[2016-02-12 21:56] hartturmch commented on #47
Kalista, both addons

[2016-02-14 01:59] KarmaPanda commented on #48
Can confirm this is true.

[2016-02-14 02:02] Hellsing commented on #48
It is intended for now, until we have discussed this further it will stay unchangeable

[2016-02-14 03:37] #48 closed, assigned to nobody

[2016-02-14 21:51] Theminatar opened #51 "Addons randomly check/uncheck themselves."
When I go to check an addon to have it inject, what happens is it becomes unchecked by itself. So like if I check the addon, then scroll through my EloBuddy Addon list, I'll see that the addon is no longer check marked. This does this about 8-10 times before it finally stays checked.

The same thing happens when the addons are injecting, I'll get into the game and notice the addon hasn't been inje

[2016-02-15 00:14] Maxhyt commented on #51
I've met this since i first used EB. Now i have all addons in a page, won't install more.

[2016-02-15 14:21] sensimela opened #52 "Elobuddy.SDK cannot load"
Here's my problem, I got stuck at loading SDK and league won't even load, last week EB is still stable to use when a new update of SDK last 3 days, SDK won't load anymore and even league won't load. Please help me with this problem reinstalled everything, cleared appdata and turned off antivirus.

I have
Net. Framework 4.6
League version 6.3.0.240

Addons checked:
Magician Ryze
TrackerBuddy
Evadep

[2016-02-16 11:04] sensimela commented on #52
Help!

[2016-02-16 15:16] Theminatar commented on #51
Anyone? Maxhyt is just spamming.

[2016-02-18 11:53] sensimela commented on #52
Why is this closed? This was not yet solved please

[2016-02-19 09:40] Fakhry95 commented on #51
same

[2016-02-19 11:58] coman3 commented on #52
have you tried launching without any addons installed at all?

[2016-02-19 12:21] sensimela commented on #52
yes already tried running without addons but SDK won't really load!

[2016-02-19 12:29] coman3 commented on #52
is there any kind of error log within the console?

[2016-02-19 16:54] KarmaPanda opened #53 "IsTaunted is always returning true"
What title says.

[2016-02-19 17:55] ghost opened #54 "-"

[2016-02-19 18:05] #54 closed, assigned to nobody

[2016-02-19 18:08] jachicao commented on #53
use HasBuffType

[2016-02-20 13:11] ibonzanino opened #55 "Draw LastHit minion out of AA range."

[2016-02-20 19:25] ghost opened #56 "PredictLinearMissile returning 100% when it obviously shouldn't"
[code]

[11:22:47 - Debug] Seriously WTF!
[11:22:47 - Debug] WTF? args.SData.Name: LucianW
[11:22:47 - Debug] WTF? sender.Distance(args.End): 567.1171
[11:22:47 - Debug] WTF? Start: X:1334.286 Y:8011.286 Z:52.8381
[11:22:47 - Debug] WTF? Player.Instance.ServerPosition: X:74 Y:390 Z:182.0929
[11:22:47 - Debug] WTF? PredictLinearMissile: 100
[11:22:47 - Debug] WTF? PredictLinearMissile > 0: True

[2016-02-20 19:59] Hellsing commented on #56
Thanks for the report, I have assigned @stefsot with this issue.

[2016-02-20 22:05] stefsot commented on #56
I made a mistake with the hitchance working on fixing it

[2016-02-21 05:14] megamaniko opened #57 "Prediction Null Exception: Target"
Constantly freezing the client in-game, console shows this:
[https://k60.kn3.net/5/0/E/E/1/4/4EA.png](url)

I was using Ezreal in an ARAM game... just in case

[2016-02-21 05:15] megamaniko commented on #51
I think all have the same issue.. Just check it and don't scroll :D

[2016-02-21 12:01] stefsot commented on #56
fixed

[2016-02-21 12:06] stefsot commented on #57
this is the addon's developer issue

[2016-02-21 12:06] #57 closed, assigned to nobody

[2016-02-21 16:48] ghost commented on #56
[8:47:13 - Debug] Seriously WTF!
[8:47:13 - Debug] WTF? args.SData.Name: RocketGrab
[8:47:13 - Debug] WTF? sender.Distance(args.End): 582.0057
[8:47:13 - Debug] WTF? Start: X:2378.369 Y:12407.61 Z:52.8381
[8:47:13 - Debug] WTF? Player.Instance.ServerPosition: X:10660 Y:1040 Z:49.44487
[8:47:13 - Debug] WTF? PredictLinearMissile: 10.075 << This should be 0
[8:47:13 - Debug] WTF? PredictLinearMissil

[2016-02-21 18:32] stefsot commented on #56
why should be 0?

[2016-02-21 18:34] ghost commented on #56
Look at how far the X/Y values are from each other?

[2016-02-21 18:51] #46 closed, assigned to nobody

[2016-02-21 20:55] jachicao commented on #55
Could you please tell me what champion did you use and a screenshot as example? I've checked the code and doesn't happen on my pc.

[2016-02-22 19:33] #52 closed, assigned to nobody

[2016-02-22 19:38] Hellsing commented on #56
Fixed by @stefsot

[2016-02-22 19:38] #56 closed, assigned to stefsot

[2016-02-22 19:39] Hellsing commented on #55
It's drawing lasthit minions out of AA range + 500 units, everything else would be too CPU intense to calculate when it's not even on screen.

[2016-02-22 19:39] #55 closed, assigned to nobody

[2016-02-22 19:40] Hellsing commented on #51
This is a known bug with the loader which we could not resolve yet, sorry for the inconvenience

[2016-02-22 19:41] Hellsing commented on #50
It's a problem with you loading too much Bitmaps into memory without releasing them on reloads.

[2016-02-22 19:41] #50 closed, assigned to nobody

[2016-02-22 19:43] Hellsing commented on #49
Thanks for reporting, @finndev will take care of that!

[2016-02-22 19:46] Hellsing commented on #15
Already added now

[2016-02-22 19:46] #15 closed, assigned to Hellsing

[2016-02-22 19:47] Hellsing commented on #11
Tested several times, can not confirm that it's broken.

[2016-02-22 19:47] #11 closed, assigned to Hellsing

[2016-02-22 19:50] #36 closed, assigned to stefsot

[2016-02-22 20:02] #47 closed, assigned to nobody

[2016-02-22 20:06] #39 closed, assigned to nobody

[2016-02-22 20:39] ibonzanino commented on #55
LastHit key active and not draw out of AA range. [https://i.gyazo.com/83c6bafde55e21a6c8b7a021df6cbaf5.jpg](https://i.gyazo.com/83c6bafde55e21a6c8b7a021df6cbaf5.jpg)

[2016-02-22 20:40] Hellsing commented on #55
Are you sure you have it enabled ingame in the Orbwalker menu?

[2016-02-22 21:05] ibonzanino commented on #55
Yes, see: [https://i.gyazo.com/3565c0de906b8278be0708591be3960b.gif](https://i.gyazo.com/3565c0de906b8278be0708591be3960b.gif)

[2016-02-23 02:04] jachicao commented on #55
Well, since your issue was drawing lasthit minions out of aa range, that isn't a problem...

[2016-02-26 00:06] stefsot commented on #51
fixed in loader update [0.1.6.17]

[2016-02-26 00:06] #51 closed, assigned to stefsot

[2016-02-26 00:11] coman3 commented on #51
@stefsot seems the loader wont open now, gets stuck after updating the dependencies....

EDIT: Never mind just restarted my pc and working fine :)

[2016-02-26 00:15] stefsot commented on #51
@coman3 fixed

[2016-02-26 00:21] Theminatar commented on #51
Just wondering why this was closed if it's a known bug and hasn't been fixed? It's beyond annoying, I do appreciate the reply though Hellsing.

[2016-02-26 00:22] coman3 commented on #51
@Theminatar  "fixed in loader update [0.1.6.17]"

[2016-02-26 00:28] ghost commented on #37
![image](https://cloud.githubusercontent.com/assets/16657106/13339331/d85216e2-dbdc-11e5-8ac0-3511375b6897.png)

[2016-02-26 00:36] Theminatar commented on #51
@coman3 My EB is fully up to date and I still have these issues, I cleared appdata as well.

[2016-02-26 02:21] ghost opened #58 "Installed addons duplicate themselves"
How to replicate and proof:

http://i.imgur.com/yoOT54o.gifv

[2016-02-26 14:25] LXMedia1 opened #59 "Menu Checkbox crashes Game"
I found a wierd Bug in the Menu who crashes the game

i think its on Automatic check a Checkbox, i post a Code than you can test it yourself.

var useOT = Menu_Keys.Add("useOnTick", new CheckBox("Use OnTick (more fps)", false));
useOT.OnValueChange += fire_useOnTick;

var useOU = Menu_Keys.Add("useOnUpdate", new CheckBox("Use OnUpdate (faster reaction)", true));
useOU.OnValueChange += fire_useOnUp

[2016-02-26 14:53] stefsot commented on #58
fixed :)

[2016-02-26 14:53] #58 closed, assigned to stefsot

[2016-02-26 15:43] Hellsing commented on #59
So you want to blame us for the stack overflow you are creating with your code?

[2016-02-26 15:43] #59 closed, assigned to nobody

[2016-02-26 15:49] Hellsing commented on #59
For your interest, you are recursivly triggering the value changed event on the two checkboxes which casues then a stack overflow. To solve this you HAVE to check if the other value is active or not in order to prevent this.

[2016-02-26 15:49] LXMedia1 commented on #59
yes, ofc i blame you for that, its not that i created a ... lets say endlessloop

the Problem is that the Game Crash and not throw errors in Console or is it not your goal to make it so that no code can crash a game ?

[2016-02-26 15:50] LXMedia1 commented on #59
like i wrote on first post

( i do not need any Reply here how to fix it ... just for the Developers to Fix it )

[2016-02-26 15:51] LXMedia1 commented on #59
and i mean to fix that it brings the game to crash and not only throw errors in console

[2016-02-26 15:52] Hellsing commented on #59
You do know that you can't handle a Stack Overflow Exception, right?

`You cannot catch stack overflow exceptions, because the exception-handling code may require the stack. Instead, when a stack overflow occurs in a normal application, the Common Language Runtime (CLR) terminates the process.`

[2016-02-26 15:53] LXMedia1 commented on #59
well you could make a "timer" and not allow a Menuitem to get changed within 100 ms 2 times...

[2016-02-26 15:54] LXMedia1 commented on #59
then its solved without a overflowexeption

[2016-02-26 15:54] Hellsing commented on #59
That would be useless as it's not up to library code to prevent those errors. You can cause a stack overflow with other things aswell, like properties setting itself and so on...

[2016-02-26 15:57] LXMedia1 commented on #59
well ok, then no problem, i just wanted to help, no reason to be salty (like in your first answer)

i was just thinking couse alot guys call elobuddy > Crashbuddy to search now all stuff and report them that you can change this.

[2016-02-26 15:57] Hellsing commented on #59
`public int Foo
{
    get { return 1; }
    set { Foo = value; }
}`

Want to blame Microsoft now aswell?

[2016-02-26 15:59] Hellsing commented on #59
I just told you that it's not in our hands to prevent stack overflow exceptions which are caused by the developers that use our SDK. The code in the SDK itself will never cause such an Exception on it's own, so the only the developers using the code in a completly recursive way can fix their mistake

[2016-02-26 16:01] LXMedia1 commented on #59
yes ok, but in fact its a crash, ofc its couse a assembly and a wrong useage, but its possible to make the sdk imune again such errors, that was what i wanted to report, but if you say you not want the sdk to do that that ok, no problem.

[2016-02-26 16:06] Hellsing commented on #59
You can't prevent stack overflows caused by other developers. Fixing this now with a delay check does not make it any better as it's not up to the SDK to check for such things. Also, developers should not release their stuff which they didn't fully test. this means that even if you caused such an exception, the users won't have it as you should have patched it out already

[2016-02-26 16:09] LXMedia1 commented on #59
Yes, i understand your point.

[2016-02-27 23:26] ghost opened #60 "Irregular Hero.IsVisible Behavior"
**Code:**

[code]

Expected result:
No output.
Result:
![](http://i.imgur.com/JcYGY4r.jpg)

When a hero is in fog they should not be visible, right?

[2016-02-28 00:31] edemirok opened #61 "Can't connect to the game"
When I try to open the game, there is a black screen and i cannot connect

[2016-02-28 00:32] ghost commented on #61
Close your league of legends client, log out, log in, reconnect.

[2016-02-28 02:33] jachicao commented on #60
Hello, IsHPBarRendered has the purpose used for IsVisible. @finndev can answer better :).

[2016-02-28 03:03] ghost opened #62 "Extend issues"
I can't get a stable text draw with extend, if it stayed Vector3 until the end it would be nice because I could WorldToScreen() then and it would be more accurate.

Example code:

[code]

What I expect:
Q to rotate around the circle in the direction of my cursor. (the Q always touching the circle).
Result:
http://i.imgur.com/Od4AssG.gifv

[2016-02-28 03:12] ghost commented on #62
This seems to be similar to #9

[2016-02-28 03:17] KarmaPanda commented on #62
Can confirm.

[2016-02-28 03:39] Hellsing commented on #62
This is your fault as you first draw a 3D world circle and want to draw on it with 2D screen vectors, you simply need to extend the position vector first and then use WorldToScreen on it

[2016-02-28 03:42] ghost commented on #62
I think you misunderstand. The instructions you just gave me are impossible (and what I want to do!), you cannot use WorldToScreen on a Vector2. Extend takes a vector3 and returns a vector2. WorldToScreen requires a vector3.

[2016-02-28 03:43] Hellsing commented on #62
And for the Extend method, it returns X and Y values based on the input, so if you need to have a 3D vector, simply convert it for your needs, either use .To3D([height]) or .To3DWorld() for the world height at that position

[2016-02-28 03:47] ghost commented on #62
This feels really hacky but it works, thank you.

[2016-02-28 03:47] #62 closed, assigned to nobody

[2016-02-28 16:21] AlistaireAlexopoulos opened #63 "[IMPORTANT] Loader Issue (BUG / LANGUAGE) !"
The Greek Language is not detected by the translations.

Thread.CurrentThread.CurrentCulture returns el-GR maybe you added gr or only GR on language if you do it like this.

Please fix, Greek community is very sad about no translation!

[2016-02-28 16:49] stefsot commented on #63
There is currently no greek translation, that's why you can't view it.

I will try to add it soon.

[2016-02-28 16:49] #63 closed, assigned to nobody

[2016-02-29 21:52] #24 closed, assigned to Hellsing

[2016-02-29 22:59] Andrijano1 opened #64 "I got message to report this, i dont know what it is ^^ after error i reloaded eb with f5 twice"
[EloBuddy] EloBuddy (15:48:54 - 01:49:59 Feb 26 2016) loading...
[EloBuddy] [!] OpenFileMapping error: 0x00000002
[EloBuddy] [!] Failed to load memory layout, falling back on paths.
Sandbox: Reload, getting configuration failed
System.TimeoutException: The open operation did not complete within the allotted timeout of 00:01:00. The time allotted to this operation may have been a portion of a longe

[2016-02-29 23:06] Andrijano1 commented on #64
It happend in botting account with volibot, addons used are evadeplus, autobuddy and rice and checked addons was some champs addons like ashe, soraka, kogmaw, jhin...And autobuddy stopped working after that, and when i pressed shift in game nothing happens

[2016-03-01 03:58] coman3 commented on #64
@Hellsing Seems the Sandbox caused this?

[2016-03-01 09:56] coman3 opened #65 "Orbwalker causes crash after disconnection from game"
Currently if your internet drops while playing, after you reconnect, the orb walker shows the folowing error, then crashes the game: https://goo.gl/6aNV1F

[2016-03-01 12:54] LXMedia1 opened #66 "ObjectManager.Player.Direction wrong values"
Seems it not returns the Correct facing direction

var newpos = ObjectManager.Player.Direction - ObjectManager.Player.Position;
newpos.Normalize();
Circle.Draw(Color.White, 50, ObjectManager.Player.Position + (newpos \* 100));

[2016-03-01 13:20] Hellsing commented on #66
Cuz you try to calculate the direction with the direction you already have, this means newPos must be player.Direction.

[2016-03-01 13:21] Hellsing commented on #66
What you want can be achieved with simply Player.Instance.Position + Player.Instance. Direction \* 100

[2016-03-01 13:35] LXMedia1 commented on #66
Ok hattest recht, hab hier ne verkürzte version geschrieben und nen kleinen fehler eingebaut.

Aber die werte sind trotzdem irgendwie falsch :dancers:

also ich nehm mal deines

Circle.Draw(Color.White, 50, Player.Instance.Position + Player.Instance.Direction \* 100);

dann wird mir die directed Rechts neben der tatsächlichen direction angezeigt

http://puu.sh/nqTSE/52c2ce277c.jpg

[2016-03-01 13:40] Hellsing commented on #66
Gib mal bitte den return Wert von Player.Instance.Direction, ist dann bestimmt 0 und muss gefixt werden

[2016-03-01 13:43] LXMedia1 commented on #66
x und y passen ja im Prinzip, also es dreht sich ja auch schön mit, nur is es nicht Vorne sondern 90° nach rechts
http://puu.sh/nqUdc/3c64398101.png

[2016-03-01 13:48] Hellsing commented on #66
Komisch, dann mach als Übergangslösung bitte Player.Instace.Direction.Perpendicular() oder Perpendicular2(), je nachdem welches passt, ich leite es trotzdem weiter

[2016-03-01 13:51] LXMedia1 commented on #66
Circle.Draw(Color.White, 50, Player.Instance.Position + Player.Instance.Direction.To2D().Perpendicular().To3D() \* 100);
jop nu ists vorne :D auch wenns bissl komisch aussieht :D danke

ps: mein english is kacke damit nich wieder missverständnisse auftauchen werd ich ab sofort nur noch deutsch reporten ok?

[2016-03-02 07:29] devin9086 opened #67 "Cannot load addons"
The elobuddy injects somewhat partially. But does not inject into the game for me.

The Debug menu shows up and the watermark above is present but in the debug window it just says "Loading addons"

Hitting F5 doesn't do much and reinstalling it doesn't help too.

Game Version: 6.4 [GARENA/SG]

[2016-03-02 07:51] #67 closed, assigned to nobody

[2016-03-02 13:53] MarioGK commented on #60
I have some experience with it, as you see the corpse of blitzcrank will be at the position that he died until he respawn so if you use !blitz.IsDead will solve that problem, or as iCreative said use blitz.IsHPBarRendered

[2016-03-04 15:50] devakumetsu opened #68 "Close the client with the api."
With the new changes made to the Sandbox (good job on that); we cant close the client at the end of game.

[2016-03-05 22:22] coman3 commented on #68
Yea personally i agree, being able to close the game client would be nice, i haven't tried everything such as killing the process, etc.. But im sure its possible (even with the current Sandbox changes).

Ill post back here if i hear anything / manage to find a way :)

[2016-03-06 22:41] LXMedia1 opened #69 "IsRooted !?"
Hat noch bis vor 2 std. perfect funktioniert.

nu bekomm ich immer false

[code]

http://puu.sh/nxkOw/764174617a.png

Wie du siehst hat er aber den Morgana Binding Buff.

[2016-03-06 22:45] LXMedia1 commented on #69
http://puu.sh/nxl5s/67298de3a2.png

beim R stunn funktionierts dürfte also das IsRooted sein welches nicht mehr klappt.

[2016-03-06 23:54] LXMedia1 commented on #69
Dafür ist nun IsTaunted immer true ...

[2016-03-06 23:56] jachicao commented on #69
use HasBuffType

[2016-03-06 23:58] LXMedia1 commented on #69
i also checked
Console.WriteLine("Stun:" + ": " + unit.HasBuffOfType(BuffType.Stun));
Console.WriteLine("Snare:" + ": " + unit.HasBuffOfType(BuffType.Snare));
Console.WriteLine("Suppression:" + ": " + unit.HasBuffOfType(BuffType.Suppression));

it not work at all, only thing what would work is HasBuff( buffname ) but its not the goal to make this just couse a bug.

[2016-03-07 15:57] ghost opened #70 "SharpDX.Xinput Extension: IsConnected causing fatal error"
[7:26:19 - Warn] Failed to notify OnLoadingComlete listener!
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> **System.Security.VerificationException: Operation could destabilize the runtime.**
   at SharpDX.XInput.XInput.XInputGetState(Int32 dwUserIndex, State& stateRef)
   at SharpDX.XInput.Controller.get_IsConnected()
   at GenesisContr

[2016-03-07 16:54] Hellsing commented on #70
Will take care of that soon, it's because that XInput isn't fully trusted yet.

[2016-03-07 16:57] Hellsing commented on #68
I have forwarded this issue to @finndev, I'm pretty sure he will add some kind of API like Game.Close() soon for you.

[2016-03-07 17:12] #65 closed, assigned to nobody

[2016-03-07 17:13] Hellsing commented on #65
This should be fixed now, if not, please report back and I'll check it again, thanks for reporting

[2016-03-07 17:15] Hellsing commented on #64
Does this issue still exist?

[2016-03-07 17:16] #61 closed, assigned to nobody

[2016-03-07 17:26] ghost commented on #60
Blitzcrank was not dead or his profile pic would be above minimap. Please don't assume.

[2016-03-07 17:30] ghost commented on #69
https://github.com/Alweul/EloBuddy/blob/master/GenesisAlistar/GenesisAlistar/Modes/PermaActive.cs#L26-L36

Code works fine for me, I always ult on root/stun/snare

[2016-03-07 17:33] LXMedia1 commented on #69
i belive you that this code works for you, but i dont know if it works today couse i not tested till now, but yesterday was IsRooted bugged couse always false and IsTaunt always true, i report here bugs and dont ask how to make a work around ( i allready have a working workarround ) but this issue system is to report bugs.

[2016-03-07 17:45] ghost commented on #69
You said "Its not work at all" and "only thing what would work is HasBuff( buffname )"

I showed you that I had working code for the past week and here is some additional info: No one has ever complained once that there were random R's, and no other plugin broke that uses the same code.

You want to report bugs, fine, report bugs that you have full proof exist, not code that works for others but n

[2016-03-07 17:49] LXMedia1 commented on #69
unit.HasBuffOfType(BuffType.Snare) also not work for Morgana Q thats what i wrote ... and i do not care if
Player.HasBuffOfType(BuffType.Fear) || Player.HasBuffOfType(BuffType.Silence) || Player.HasBuffOfType(BuffType.Snare) ||
                    Player.HasBuffOfType(BuffType.Stun) || Player.HasBuffOfType(BuffType.Charm) || Player.HasBuffOfType(BuffType.Blind) ||
                    Player.HasBuf

[2016-03-07 17:51] LXMedia1 commented on #69
AND
Player.HasBuffOfType(BuffType.Silence)
Player.HasBuffOfType(BuffType.Charm)
Player.HasBuffOfType(BuffType.Blind)
Player.HasBuffOfType(BuffType.Fear)
are not spells bufftypes what i wanna have, so if one of them goes true on a root its still a bug.

[2016-03-07 17:54] ghost commented on #69
Then your issue is that the buff morganaqsnare or whatever its named does not activate the boolean values BuffType properly, not that HasBuffOfType doesn't work. Please reference the correct issue instead of saying that HasBuffOfType isn't working when it is.

[2016-03-07 17:55] LXMedia1 commented on #69
Hellsing is german i wrote in the first post it not work for Morgana Binding Buff.
(DarkBindingMissile)

[2016-03-07 17:58] ghost commented on #69
1. I can also read (not speak/write) a lot of german, I know what you said.
2. I responded to your 4th post, not your first, and in that post, as I quoted, you said:
   "it not work at all, only thing what would work is HasBuff( buffname )"
   Which sounds like your saying "HasBuffofType does not work at all" which is completely untrue.

[2016-03-07 18:12] LXMedia1 commented on #69
it not work at all for Morgana Q ... read/understand all and not just pick a part out of the contex

[2016-03-07 20:25] Andrijano1 commented on #64
Really dont know , it happend only once , so maybe is doesnt, but who knows^^

[2016-03-07 21:17] Hellsing commented on #64
k, closing this then, thanks anyways

[2016-03-07 21:17] #64 closed, assigned to nobody

[2016-03-08 11:06] finndev commented on #68
Added in patch 6.5 binaries

[2016-03-08 11:06] #68 closed, assigned to finndev

[2016-03-08 23:01] Andrijano1 opened #71 "Something for finndev ^^"
#

Exception occured! EloBuddy might crash!

Type: System.NullReferenceException
Message: Object reference not set to an instance of an object.

Stracktrace:
   at AutoBuddy.AutoWalker.UseHeal()
   at AutoBuddy.MainLogics.Survi.Game_OnTick(EventArgs args)
#    at EloBuddy.Game.OnGameTickNative()
#

Exception occured! EloBuddy might crash!

Type: System.NullReferenceException
Message: Object refere

[2016-03-09 04:18] ghost commented on #70
Soon™

[2016-03-09 05:22] Hellsing commented on #71
AutoBuddy causes this...

[2016-03-09 05:22] #71 closed, assigned to nobody

[2016-03-10 21:00] Andrijano1 commented on #71
Sry didnt know, I thought something in Eb-Core , because last sentance

[2016-03-10 21:02] Hellsing commented on #71
Nope, you read the stack from bottom to top, stopping at entries which look suspicious, Game.OnTick is just the event being triggered, moving forward to AutoBuddy.MainLogics.Survi.Game_OnTick which does not cause the issue as the next and final entry must throw it as it has no parameters AutoBuddy.AutoWalker.UseHeal()

[2016-03-10 23:00] plsfixrito opened #72 "ObjectManager.Player.PhysicalDamageTaken Always returns 0"
http://puu.sh/nC3S2/195b7cf8fb.jpg

[2016-03-11 09:11] finndev commented on #72
This is not updated instantly. I think it is updated every 15 or 30 seconds

[2016-03-12 01:39] Sordruther opened #73 "SDK Boostrap Error:"
Error Pls Help :  http://prntscr.com/ae5418

i tried Use Any Script and the same error i cant change anything in the shift menu because appear only the menu when i click orbwalker or any other thing i cant change any configs when i click space to combo dont work

[2016-03-12 17:26] ghost opened #74 "I just reinstalled EB in 1 month and I get this???"
Can't even start this

https://gyazo.com/5b7e1f9a3d4e7323f8956c5df472ef55

[2016-03-12 17:27] ghost commented on #74
Theres a bug in the loader, its being fixed.

[2016-03-12 18:15] Hellsing commented on #74
This is now fixed: [https://www.elobuddy.net/topic/20488-errors-while-updating-03122016/](url)

[2016-03-12 18:15] #74 closed, assigned to nobody

[2016-03-12 20:45] devakumetsu opened #75 "Loader System.IndexOutOfRange"
**FOUND BUG:** Sorry im so dumb; stesoft and i detected the error; he will fixed soon; its when you try to install an addomn as remote from local url.

[code]

![loaderproblem](https://cloud.githubusercontent.com/assets/11541674/13725226/c189834a-e871-11e5-9262-145c259ff9f8.png)

[2016-03-13 13:29] Hellsing commented on #70
Fixed

[2016-03-13 13:29] #70 closed, assigned to Hellsing

[2016-03-14 14:41] jprzimba opened #76 "Search function bug"
The search function to find adodns at EB loader are no working.

[2016-03-14 17:06] Hellsing commented on #76
It is working, just updated my EloBuddy loader and checked it, works just fine.

[2016-03-14 17:06] #76 closed, assigned to nobody

[2016-03-14 17:06] #75 closed, assigned to nobody

[2016-03-15 01:48] coman3 commented on #73
This has been fixed, it was a temporary issue :)

[2016-03-15 21:40] jprzimba opened #77 "Kindred was not found in DamageLibrary"
When i login with kindred console show it for me

[2016-03-16 07:20] Muse30 opened #78 "Sandbox : Bootstrap error"
http://prnt.sc/aftvcz

happened today after the sandbox updated

[2016-03-16 07:33] Hellsing commented on #78
This is because you are on a lower version of EloBuddy and League at the moment, just wait till League updates in your region and it will work all just fine

[2016-03-16 07:33] #78 closed, assigned to nobody

[2016-03-16 08:11] Hellsing commented on #77
This is just a warning, nothing to worry about

[2016-03-16 08:11] #77 closed, assigned to nobody

[2016-03-16 09:45] LXMedia1 opened #79 "AIHeroClient.Path"
If you run arround some structures/walls ( with just 1 click ) he not update the new path. that makes the Prediction sometimes pretty off.

could you reupdate the "Path()" also while no new movementorders get fired ?

i dont know how to explain it better, arround struktures he sometimes move abit of the path and then the old bath get not deleted

you see what i mean when you let your champ move fr

[2016-03-16 19:54] jprzimba opened #80 "[Feature] Add TargetSelector for most stacks"
Please add an option at target selector por players that have most Stack Like, Kalista and kIndred passive. It's too god for this champions

[2016-03-17 07:03] jachicao commented on #79
Do you mean GetPath() or .Path

[2016-03-17 07:05] LXMedia1 commented on #79
var path = unit.Path;

2016-03-17 8:03 GMT+01:00 JChicao notifications@github.com:

[2016-03-17 07:07] LXMedia1 commented on #79
GetPath() is afaik the methode who generates the path and get used from elobuddy on every unit issueorder.

[2016-03-17 07:10] LXMedia1 commented on #79
ichanged the topic name ( dont know why i wrote GetPath :(

[2016-03-17 07:39] commonsharp commented on #78
update your league version
current ver : 6.5.0.280

[2016-03-17 09:06] commonsharp commented on #73
https://github.com/EloBuddy/EloBuddy.Issues/issues/78

[2016-03-25 21:27] Merc491 opened #81 "Orbwalker issues"
Please look at my thread for all the info.
https://www.elobuddy.net/topic/22988-orbwalker-suggestions/

[2016-03-26 23:15] Laginho opened #82 "EloBuddy crashes"
When I open Elobuddy, the program itself doens't open. It creates a process on my task manager but closes seconds later. I've already tried reinstalling it, but didn't work.

[2016-03-27 09:54] darkshift opened #83 "orbwalker not working AT ALL"
as it says above its not loading at all tried reinstalling everything and all that but its still not loading when i get in game..

[2016-03-28 02:06] iiExcellence opened #84 "Orbwalker and prediction needs tons of work"
The prediction is just flat out bad. I play corki a lot and when im shooting my rockets the enemy could be standing still and id shoot it a couple feet to the side of him. And my q's rarely hit moving targets. Orbwalking is OK but I mean it could be a ton better. Waveclearing seems to miss me tons of creeps and last hitting is okay just wish I could customize it because if feels like it misses one

[2016-03-29 20:17] Hellsing opened #85 "TacticalMap.Position is wrong"
Returning wrong Vector2, X is always 0 and Y around double the screen height, this was the reason why Notifications stopped working previously because it took it's height from the minimap size.

[2016-04-01 20:16] xRyze opened #86 "New Design"
You cant click these buttons, dont know if they even should be there

http://prntscr.com/amxqcw

[2016-04-02 22:18] stefsot commented on #86
it is intended, you can't cancel the operation.

I have fixed the UI glitch.

[2016-04-02 22:18] #86 closed, assigned to nobody

[2016-04-02 22:21] #40 closed, assigned to stefsot

[2016-04-03 09:51] TheKillerey opened #87 "Streaming Mode and Fake Clicks crashes"
Something in the core crashed on the new update the Fake Clicks.

[2016-04-03 13:32] jachicao commented on #81
Fixed.

[2016-04-03 13:33] #81 closed, assigned to nobody

[2016-04-03 13:33] #83 closed, assigned to nobody

[2016-04-03 13:34] jachicao commented on #13
Has been fixed.

[2016-04-03 13:34] #13 closed, assigned to Hellsing

[2016-04-03 13:38] jachicao commented on #84
I think it's an issue from your end, just take a look what they told here: https://www.elobuddy.net/topic/9713-feedback-orbwalker/page-12#entry175298.
Different settings, same champion.

If you think that isn't your fault, I'll need this:
Champion used, Ping, Addons used, Ticks per second.

[2016-04-03 16:03] #80 closed, assigned to nobody

[2016-04-03 16:04] jachicao commented on #80
added this champion's stack:
- Braum
- Darius
- Ekko
- Gnar
- Kalista
- Kennen
- Kindred (Passive and E)
- Tamn Kench
- Tristana
- Twitch
- Varus
- Vayne
- Velkoz
- Vi

[2016-04-05 19:46] finndev commented on #87
fixed

[2016-04-05 19:46] #87 closed, assigned to finndev

[2016-04-05 20:17] jachicao commented on #5
Fixed

[2016-04-05 20:17] #5 closed, assigned to Hellsing

[2016-04-07 12:52] Kapselski opened #88 "Acccount"
hey my friend want to make account at elobuddy but he cant everytime he gets a error that all details like email is in use pls help me as soon as possible

[2016-04-08 18:34] TheKillerey opened #89 "New Streaming Mode Bug"
If you enable Streaming Mode in the loader its still work. Bug if I un-tick it in the same game streaming is active but without fake clicks. Test it yourself you need to restart your game to change the settings in game

[2016-04-08 19:04] newchild opened #90 "FPS Drop in teamfights (possible core/sdk issue)"
Report by JJ:
http://puu.sh/oaZm8/eca35f4838.png

[2016-04-09 08:49] LXMedia1 opened #91 "Missleaging names IsUnderTurret"
IsUnderEnemyturret() => is under Turret who is Enemy for this Unit
IsUnderHisturret() => is under Turret who is His own Turret
IsUnderTurret() => is Under Any Turret

should be imo

IsUnderEnemyTurret() => Is under Enemy Turret ( Enemy under Enemy turret = true )
IsUnderAllyTurret() => Is under Team Turret both depends on Objectmanager.Player team not on Unit team

[2016-04-09 10:13] HeheXD123 opened #92 "Lulu Whimsy (Polymorph) turning you into a creature for rest of the game"
When W'd and Polymorph'd by a enemy lulu you turn into a dragon or the creature based on the skin she's using for the rest of the game and you are stuck as them until you reconnect to the game
In chat your champion's name turns into (Dragon) and you are stuck as the creature even if you die and it makes it hard to spell your animations or anything else at all

I thought this was already reported b

[2016-04-10 18:45] jachicao commented on #88
you should contact the support team.

[2016-04-10 18:45] #88 closed, assigned to nobody

[2016-04-10 18:52] jachicao commented on #90
I think we will need a more specific report :(

[2016-04-10 18:58] jachicao commented on #91
IsUnderAllyTurret() isn't great when you are comparing on the enemy side, because IsAlly only works based on your team. Thats why it's like that.

[2016-04-10 18:58] #91 closed, assigned to nobody

[2016-04-10 19:00] LXMedia1 commented on #91
should still be like that couse then its also possible to use it for Vector3 not like it is right now.

[2016-04-11 02:39] finndev commented on #72
Closing as their is no response.

[2016-04-11 02:39] #72 closed, assigned to nobody

[2016-04-11 02:40] finndev commented on #82
This fits better here: https://www.elobuddy.net/forum/50-support/

[2016-04-11 02:40] #82 closed, assigned to nobody

[2016-04-11 02:40] #73 closed, assigned to nobody

[2016-04-11 02:45] finndev commented on #49
When I added that specific function to the API I did not notice that the DrawText function of the game itself that EloBuddy.Core is calling does not take a size argument. The method with the signature above will be deprecated in Patch 6.8 and fully removed 3 patches afterwards (size argument removed).

[2016-04-11 02:45] #49 closed, assigned to finndev

[2016-04-11 02:47] finndev commented on #90
Related (same user I assume): https://www.elobuddy.net/topic/25827-those-with-fps-problems-fix-for-nvidia-users/?hl=nvidia

-> closed

[2016-04-11 02:47] #90 closed, assigned to nobody

[2016-04-11 11:00] stefsot commented on #38
a lot of optimizations were made weeks ago when the new installer was implemented

[2016-04-11 11:00] #38 closed, assigned to stefsot

[2016-04-12 18:28] chanchangreatness opened #93 "FPS Drop"
As the title indicated, this problem is faced by many users of EloBuddy. Devs need to fix this issue as soon as possible to improve the use of EloBuddy to other players.

More power to the EloBuddy Community!

[2016-04-13 03:00] jachicao commented on #93
We will need a better report to fix it.
For example, we need: Addons used, fps without addons.

[2016-04-13 13:14] chanchangreatness commented on #93
Without addons: 120+ FPS
 -Clash: 70-80 FPS

With addons: 40-30 FPS
 -Clash: 20-30 FPS
Addon(s) used:
 -Mastermind

PC Specs:
-Processor: AMD A4-3400 with Radeon(tm) HD Graphics 2.70GHz
-RAM: 6GB
-Graphics: AMD Radeon HD 6410D (Onboard Graphics) w/ Dedicated Video Memory of 512mb
-Motherboard: ASRock A55M-VS

P.S. FPS still drops with or without addons as long as EloBuddy is injected. Tried to set

[2016-04-13 15:22] coman3 commented on #93
Looks like your computer isn't very powerful, which may be most of the problem. What kind of FPS do you get during team fights without EB Injected?

[2016-04-13 16:29] chanchangreatness commented on #93
@coman3 about 70-80 FPS includes Very High setting for both Character Detail and Skill Detail while retaining the Environment Detail set to Medium

[2016-04-18 07:26] #84 closed, assigned to nobody

[2016-04-18 21:12] dragitz opened #94 "Elobuddy is unable to detect spells?"
Have you changed the code recently? Because most of my addons do not detect any spell

Like activators do not use heal or smite

[2016-04-19 02:26] jachicao commented on #94
Hello, Riot made some changes on their spell names.

[2016-04-19 02:26] #94 closed, assigned to nobody

[2016-04-25 19:21] plsfixrito opened #95 "Passive Spells"
Can passive spells be added to core so we can check their cooldowns etc?

already asked finndev, he asked to create this issue

[2016-04-25 19:23] plsfixrito opened #96 "SubMenu for a SubMenu"
Can SubMenu be added to a submenu

just like A submenu for a mainmenu.

so we can have less nested menus.

for ex
Modes > Combo, Harass, LaneClear etc
Misc > SummonerSpells etc

[2016-04-25 19:24] plsfixrito commented on #92
this is a skin changer issue afaik

[2016-04-25 21:33] ghost opened #97 "Mode Stream, press B"
When I press B, it create a fake attack click below Champion

[2016-04-27 12:23] D3ftsu commented on #41
Can confirm. the game freeze and you can't close it unless you use taskbar + it eats your cpu when this bug occur. happens only when EB is injected and you get disconnected.

[2016-04-28 13:42] bielfaisca16 opened #98 "EloBuddy Ban"
Good day admin , I would like to inform that here in Brazil region , there has been many bans , I wonder , if for some reason the detection, because even using humanize , among others, is going bans .

[2016-05-10 18:44] jprzimba opened #99 "Report to finndev..."
When ping go 1000+ (BR internet sux) it goes to show me...
http://i.imgur.com/uVme7eH.png

[2016-05-14 14:40] mztikk opened #100 "Obj_Ai_Base.FlatMagicReduction"
Returns 0

[2016-05-14 14:41] mztikk opened #101 "Obj_Ai_Base.CalculateDamageOnUnit"
returns wrong values for magical damage

[2016-05-16 16:21] plsfixrito opened #102 "CountAlliesInRange, CountEnemiesInRange"
Both always returns 0

[2016-05-18 03:25] jachicao commented on #100
Thank you for your report, sadly i saw it too late.
We will see if is still broken for 6.10.

[2016-05-22 18:54] mrarticuno opened #103 "Orbwalker orbwalking for a champion outside the range"
Sometimes the orbwalker is orbwalking for the highest priority even in the other side of the map.

[2016-05-23 14:44] stefsot commented on #103
Do you have any video or something? Cause I can't replicate it.
Maybe a better explanation could help.

[2016-05-24 14:51] mrarticuno commented on #103
i will try to make a video on it.

[2016-05-25 17:49] mztikk commented on #100
Still bugged...

[2016-05-27 17:57] plsfixrito opened #104 ".Direction"
.Direction seems to be broken

as it's always pointing towards fountain

[2016-05-29 07:56] HDown-idk opened #105 "Massive fps drop under tower"
When tower (laser tower) at base start attacking minions i lost my fps so hard. Slideshow detected.
Same ppl have this problem. I believe you check this.

[2016-05-29 09:20] stefsot commented on #105
what addon are you using?

[2016-05-29 09:28] HDown-idk commented on #105
No one. View BuddyBox, they say about it.
same https://www.elobuddy.net/topic/30822-fps-drop/?do=findComment&comment=218243

[2016-05-29 19:17] finndev commented on #99
#41 reference

[2016-05-29 19:17] #99 closed, assigned to nobody

[2016-05-29 21:48] #105 closed, assigned to nobody

[2016-05-29 21:49] jachicao commented on #103
if you get the error again let me know, there was a problem with Champion enum.

[2016-05-29 21:49] #103 closed, assigned to nobody

[2016-05-29 21:49] jachicao commented on #97
fixed

[2016-05-29 21:49] #97 closed, assigned to jachicao

[2016-05-29 21:53] #102 closed, assigned to nobody

[2016-05-29 21:53] jachicao commented on #102
It's working

[2016-06-01 23:49] finndev commented on #104
fix'd in 6.11

[2016-06-01 23:49] #104 closed, assigned to finndev

[2016-06-12 22:57] 0xnobody opened #106 "Game.OnLoad, Game.OnEnd, OnDeath events broken"
These events aren't firing. #

[2016-06-13 05:56] jachicao opened #107 "PercentArmorPenetrationMod, FlatArmorPenetrationMod, PercentBonusArmorPenetrationMod, PercentMagicPenetrationMod, FlatMagicPenetrationMod broken"
Please fix.
Damage values are broken because of this.

[2016-06-13 05:57] jachicao commented on #100
for what do you need that value?

[2016-06-13 05:58] jachicao commented on #101
Already found the reason.

[2016-06-13 05:58] #101 closed, assigned to nobody

[2016-06-13 15:27] princer007 opened #108 "Chargeable spells"
https://www.elobuddy.net/topic/32033-bug-report-chargable-spells

[2016-06-13 15:29] princer007 commented on #107
Don't know about resists, but damage calculations a bit off, that's true

[2016-06-13 23:17] #66 closed, assigned to finndev

[2016-06-13 23:17] #60 closed, assigned to nobody

[2016-06-15 14:34] #32 closed, assigned to nobody

[2016-06-16 03:52] mztikk commented on #100
Calculating damage. Cuz every function to do that returns wrong values so I wanted to write my own just to find out that the needed stuff is broken.

[2016-06-16 04:05] ghost opened #109 "SDK Bootstrap Error"
Mario [Hu3] told me to post this problem here.

The errors here always throw the same exceptions, regarding the SDK.

I was thinking one of the dlls were corrupt, but a lot of other newer people seem to not have the same issue.

[code]

Here's a screenshot of the rest of this message, since I am not able to find the logs that contain this information, and I'm not about to type that up:

![image](h

[2016-06-16 12:36] stefsot commented on #109
try installing this: https://www.microsoft.com/en-us/download/details.aspx?id=34429
let me know if it fixes the problem

[2016-06-18 21:39] eco999 commented on #41
This happens to me aswell. When the game attempts to reconnect (I believe) it just freezes and it will not unfreeze and reconnect. The only option at that point is to close the game and reopen it. I think this issue has persisted since release but I just dealt with it.

[2016-06-20 14:32] SidaRevamped commented on #93
bansharp = 0 fps drop , elobuddy = +-50 fps drop , poblem come from code

[2016-06-22 21:46] 0xnobody opened #110 "ItemInfo.AvailableForMap not working"
returning true on items in howling abyss (dorans blade, ring, shield, etc).

[2016-06-23 03:57] stefsot commented on #110
item data updated for patch 6.12 and the issue has been fixed

[2016-06-23 03:57] #110 closed, assigned to stefsot

[2016-06-23 17:26] 0xnobody opened #111 "Game.GameID broken"
Game.GameID doesn't work

[2016-06-23 23:31] stefsot commented on #111
why do you need it?

[2016-06-24 00:20] 0xnobody commented on #111
distinguishing different games - if I want to keep a file for only one game, and delete it on inject if the gameid is different. Tried with Player.Instance.NetworkID, but it doesn't change per game.

[2016-07-13 17:32] MarioGK opened #112 "wrong HPBar position off set (Fixed)"
http://i.imgur.com/Gd7NWPj.gif

[2016-07-13 17:33] MarioGK commented on #112
http://i.imgur.com/2Xrkyd4.gif

[2016-07-13 18:08] #112 closed, assigned to finndev

[2016-07-14 09:13] finndev commented on #111
Fixed in next update (few hrs)

[2016-07-14 09:13] #111 closed, assigned to finndev

[2016-07-14 09:13] #109 closed, assigned to nobody

[2016-07-14 09:13] #100 closed, assigned to finndev

[2016-07-14 09:15] finndev commented on #85
fixd :^) :hand:

[2016-07-14 09:15] #85 closed, assigned to finndev

[2016-07-19 02:58] Uzumaki-Boruto opened #113 "CooldownPercentMod,... and other CooldownPercent value has broken"
The value always = 0

[2016-07-19 15:46] MarioGK commented on #108
Give me more info about it and i`ll try to fix it on sdk

[2016-07-27 00:34] D3ftsu opened #114 "Game.OnNotify Half Broken"
Recall and trinkets fire OnItemChange
SummonerSpell1 fire OnItemConsumeablePurchased
SummonerSpell2 fire OnCriticalStrike
OnShopMenuOpen fired randomly
https://gyazo.com/31496272695be91d32a39ddfafdd0b05

[2016-07-27 04:28] #98 closed, assigned to finndev

[2016-07-27 04:29] MarioGK commented on #95
Just make them Spell.Active or use the spell book to get their info like Player.SpellBook.GetSpell(Slot).IsReady

[2016-07-27 04:31] MarioGK commented on #108
No info was given so i`ll close it

[2016-07-27 04:31] #108 closed, assigned to nobody

[2016-07-27 04:31] #93 closed, assigned to nobody

[2016-07-27 04:33] #37 closed, assigned to nobody

[2016-07-27 07:15] plsfixrito commented on #95
they doesn't work, already tried them with hellsing before.

you cant get their cooldowns or check isready etc

[2016-07-29 00:54] MarioGK commented on #95
Okay then one more thing to finn do

[2016-08-02 06:55] berbb commented on #23
bump bump bump bump

[2016-08-26 22:51] Zierk59 opened #115 "Trinket stacks"
Trinket stacks and charges are buggy. .Stacks returns 1 if charges >= 1 and null if charges = 0. .Charges always returns null ref. :/
Code which I used:
`Player.Instance.InventoryItems.
    FirstOrDefault(item => item.Id == ItemId.Warding_Totem_Trinket && item.CanUseItem()).
    Stacks;`

[2016-09-16 16:29] #14 closed, assigned to nobody

[2016-09-16 16:29] MarioGK commented on #18
Added

[2016-09-16 16:29] #18 closed, assigned to finndev

[2016-09-16 16:30] MarioGK commented on #29
Added

[2016-09-16 16:30] #29 closed, assigned to finndev

[2016-09-16 17:40] Wiezerzz commented on #107
This bug is not fixed, atleast not for the magic values.
http://i.imgur.com/FyWhK2D.png

[2016-09-19 17:37] whosdatdev opened #116 "Loader uses .csproj name instead of output name"
Imagine this scenario:
- Project "Example Prediction" -> EPrediction.dll (output name)
- Project "Cassiopeia Addon" -> references EPrediction.dll

Even if you add the cass and the EPrediction to the loader, it will never find it, as it's searching for "EPrediction" but only find "Example Prediction"

[2016-09-20 05:44] Uzumaki-Boruto opened #117 "The SpellDataInst.ToggleState not working [CORE]"
SpellDataInst.ToggleState always = 0.

[2016-09-22 13:32] whosdatdev opened #118 "[Loader] Option to disable sandbox"
Please add an option to the loader to disable the sandbox (default: sandbox on). This will be useful for private stuff that just needs more permissions, e.g. access to a website (like a central webserver for bots running on multiple machines).

[2016-09-22 13:44] Hellsing commented on #118
And usefull for private addons with custom auth servers and encryped addons so you can sell stuff, no ty.

[2016-09-22 13:47] whosdatdev commented on #118
Which is exactly why the sandbox should always be and stay on for the masses. I just feel like it ruins a lot of possibilities for people who build custom addons that need to communicate with the rest of their infrastructure etc

Edit: i misread your message, i get your point now :S that being saio, the concept works for ls (they do not have underground communities that sell scripts afaik)

[2016-09-25 01:05] MarioGK opened #119 "[Loader] Crashing while injecting and installing window is open"

[2016-09-25 20:05] stefsot commented on #119
can you upload your log file?

[2016-09-26 04:38] MarioGK commented on #119
http://i.imgur.com/ZFvauZn.png

https://gist.github.com/mariogk/3de7c5ad88029395b5c639b88a3a4c35

It seems it didnt log the problem if you need any further debugging just ask me

[2016-09-26 21:29] finndev commented on #117
Fixed in next core

[2016-09-26 21:29] #117 closed, assigned to finndev

[2016-09-27 17:08] GoldFiish opened #120 "Ward skinchange borken"
foreach (var ward in ObjectManager.Get<Obj_AI_Base>().Where(o => o.BaseSkinName == "YellowTrinket" || o.BaseSkinName == "SightWard"))
{
 ward.SetSkin(ward.BaseSkinName, 5);
}

I using that code.
ward or model(annie pet, teemo trap) change skin is working. but LoL client is crash after 1~5min.

[2016-10-17 01:14] Sicryption opened #121 "Enemy Cooldown's are not readily available."
`Champion.SpellBook(ANY).Cooldown` returns 0. You can calculate around this by using `Math.Max(0, info.GetChampionSpell().CooldownExpires - Game.Time)`

[2016-10-17 01:15] Sicryption opened #122 ".IsFacing() and .Direction()"
`.Direction()` always returns (0, 0, 1).
`.IsFaction()` doesn't actually check if it's facing.

[2016-10-20 23:27] tso3232 opened #123 "AIHeroClient.NeutralMinionsKilled always 0 as of 6.21"
In 6.20, the AIHeroClient.NeutralMinionsKilled field would correctly identify the number of neutral minions a hero killed. Since the 6.21 update, however, this field never seems to get updated, and remains at 0 regardless of how many neutral minions the hero has killed.

[2016-10-31 10:05] Uzumaki-Boruto opened #124 "OnDash Event and Dash.DashEventArgs"
args always return 0

[2016-10-31 16:07] Uzumaki-Boruto commented on #124
I mean args.Speed

[2016-11-14 00:29] jprzimba commented on #92
i've the same issue while usig skin changer.... if Lulu casts W
I'm a Rabbit for rest of the game xD

[2016-11-20 01:22] #122 closed, assigned to nobody

[2016-12-11 11:21] partment opened #125 "Can't locate TW's new client location"
My location is D:\Program Files (x86)\GarenaLoLLCUTW

[2016-12-11 19:49] stefsot commented on #125
Can you please provide the full path of "League of Legends.exe" file?
Thank you.

[2016-12-12 09:26] partment commented on #125
D:\Program Files (x86)\GarenaLoLLCUTW\GameData\Apps\LoLLCUTW\Game\League of Legends.exe

[2016-12-13 12:16] finndev commented on #123
fixed

[2016-12-13 12:16] #123 closed, assigned to nobody

[2016-12-13 12:48] stefsot commented on #125
New updated pushed, let me know if it fixed the issue.

[2016-12-13 15:49] partment commented on #125
![elobuddy loader_2016-12-13_23-45-47](https://cloud.githubusercontent.com/assets/5278061/21147016/93d23a40-c18e-11e6-809b-21e81e8b1714.png)

No, still can't locate.

[2016-12-19 04:07] stefsot commented on #125
let me know if it works now

[2016-12-19 16:41] okl74 opened #126 "Failed to download required data"
I am having this problem loading the addons.
failed to download required data

[2016-12-20 15:24] partment commented on #125
NO
![elobuddy loader_2016-12-20_23-23-52](https://cloud.githubusercontent.com/assets/5278061/21356139/7d495cae-c70b-11e6-8590-adc4a0c2df35.png)

[2017-01-15 20:17] XeroEB opened #127 "Drawing margins hardcoded?"
/* draws 2 columns by default - I want 1 column */

DrawingsMenu.AddGroupLabel("Drawings");
DrawingsMenu.Add("drawing.q_Range", new CheckBox("Draw Q Range", true));
DrawingsMenu.Add("drawing.r_Range", new CheckBox("Draw R Range", true));

/* draws 1 column but has huge gap... */

DrawingsMenu.AddGroupLabel("Drawings");
DrawingsMenu.Add("drawing.q_Range", new CheckBox("Draw Q Range", true));
Drawin

[2017-01-15 21:25] finndev commented on #126
This happens when user paste a wrong link or the repo is removed.
Not EB fault

[2017-01-15 21:25] #126 closed, assigned to nobody

[2017-01-22 01:08] Uzumaki-Boruto opened #128 "Event BuffUpdate is broken"
This cause all buff count is broken, too.
btw, event Shop.Onbuy is broken, too

[2017-03-20 20:02] pib314 opened #129 "Obj_AI_Base.OnBasicAttack not consistently working on 7.5"
Previously, this event would be triggered on any basic attack, but since patch 7.5, I'm not seeing this for champions. The method does not get called when a champion auto-attacks a target.

[2017-03-24 18:47] TonyRL commented on #129
The issue is fixed with [Core#611](https://github.com/EloBuddy/EloBuddy.Dependencies/commit/5d8c3cdaa5f0786fffe2abc0639b24f5c8afb60d)

[2017-03-24 18:47] #129 closed, assigned to finndev

[2017-03-26 07:11] pib314 commented on #129
Is this deployed? I have the latest core, and it doesn't appear to work properly. I'm spectating a game, and still barely seeing any basic attacks being triggered.

[2017-03-26 11:07] TonyRL commented on #129
I tried in practice tool and it works good.

[2017-03-26 21:24] pib314 commented on #129
Ah, I see it now. I didn't have the latest version. Thanks!

[2017-04-09 18:52] FurkanS1821 opened #130 "All issues of Game.OnNotify"
- [ ] OnChampionKill is fired before OnChampionKillPre, and OnChampionKillPast is not fired
- [ ] OnChampionLevelUp is not fired
- [ ] OnCriticalStrike is fired when Summoner2 is cast
- [ ] OnDamageTaken/Given not working
- [ ] OnDampenerRespawnSoon is fired when inhibitor is destroyed
- [ ] OnDampenerRespawn is fired when inhibitor is respawning soon
- [ ] OnDampenerDamage is fired when inhibitor

[2017-04-09 19:00] #118 closed, assigned to nobody

[2017-04-09 19:01] TonyRL commented on #130
#114

[2017-04-09 19:06] TonyRL commented on #114
#130

[2017-04-15 12:00] finndev commented on #130
Fixed in the next update

[2017-04-15 12:00] #130 closed, assigned to finndev

[2017-04-15 12:13] #114 closed, assigned to finndev

[2017-04-24 00:16] jprzimba opened #131 "Elobuddy blocks mouse buttons"
When EB are open I cant use mouse buttons in my setitngs at game
for example  I like to use my items from a mouse button configurated at my game settings
When I open EB it don't work and I need to change it to default hotkey like number "1" for example.

[2017-05-06 16:31] #121 closed, assigned to nobody

[2017-05-06 22:18] TonyRL commented on #125
Fixed in https://github.com/EloBuddy/EloBuddy.Dependencies/commit/a6533b1e2ae0593056b31ff33190505f1d3bad49

[2017-05-06 22:18] #125 closed, assigned to nobody

[2017-05-07 20:11] pib314 opened #132 "Champion deaths not being reported"
I'm listening to the Game_OnNotify event, and I used to be able to see GameEventId.OnDie events whenever champions died, however, since the 7.9 patch, these appear to be missing.

[2017-05-10 02:43] pib314 commented on #132
This appears to be fixed in the 5/9 update. I'll close this

[2017-05-10 02:43] #132 closed, assigned to nobody

[2017-05-18 05:35] pib314 opened #133 "AttackableUnit.OnDamage not firing"
Damaging enemies and taking damage doesn't fire this event

[2017-06-18 01:49] #128 closed, assigned to nobody